* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    background-image: url('./images/person.png');
    background-repeat: no-repeat;
    height: 720px;
    width: 1013px;
    margin: auto;
}

#corner {
    position: relative;
    top: 0px;
    left: 588px;
    box-shadow: -6px 6px 10px 1px #383838;
    border-radius: 0px 0px 0px 75px;
    opacity: 0.9;
    animation: corner 1s;
}

#solidario {
    position: relative;
    bottom: 68px;
    left: 247px;
    animation: opacity 1.2s;
}

.text-line {
    position: relative;
    left: 703px;
    top: 30px;
    animation: transalation 1s;
}

.text {
    padding-top: 14px;
    padding-left: 4px;
    padding-bottom: 15px;
    color: black;
}

.text:hover {
    animation: shake 0.3s;
}

#shadow-memoria {
    position: relative;
    left: 672px;
    top: 71px;
    animation: memoria-shadow 1s;
}

#memoria {
    position: relative;
    left: 403px;
    top: 30px;
    animation: memoria 1s;
}

@keyframes opacity {
    0% { opacity: 0 }
    50% { opacity: 0 }
    60% { opacity: 0.4 }
    70% { opacity: 0.5 }
    80% { opacity: 0.6 }
    85% { opacity: 0.7 }
    90% { opacity: 0.8 }
    95% { opacity: 0.9 }
    100% { opacity: 1 }
}

@keyframes corner {
    from { top: -300px }
    to { top: 0px }
}

@keyframes memoria {
    from { top: 150px }
    to { top: 30px }
}

@keyframes memoria-shadow {
    0% { opacity: 0 }
    40% { opacity: 0 }
    65% { opacity: 0.3 }
    70% { opacity: 0.4 }
    75% { opacity: 0.5 }
    80% { opacity: 0.6 }
    85% { opacity: 0.7 }
    90% { opacity: 0.8 }
    95% { opacity: 0.9 }
    100% { opacity: 1 }
}

@keyframes transalation {
    from { left: 900px }
    to { left: 703px }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) }
    30% { transform: translate(3px, 2px) }
    50% { transform: translate(-1px, -1px) }
    70% { transform: translate(3px, 2px) }
    100% { transform: translate(1px, 1px) }
}