* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    background-image: url('./images/person.png');
    background-repeat: no-repeat;
    height: 720px;
    width: 1013px;
    margin: auto;
}

#corner {
    position: relative;
    top: 0px;
    left: 588px;
    box-shadow: -6px 6px 10px 1px #383838;
    border-radius: 0px 0px 0px 75px;
    opacity: 0.9;
    transition: left 1s ease-in-out;
}

#solidario {
    position: relative;
    bottom: 68px;
    left: 247px;
}

.text-line {
    position: relative;
    left: 703px;
    top: 31px;
    font-size: 14px;
    animation: transalation 1s;
}

.text {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding-top: 12px;
    padding-left: 4px;
    padding-bottom: 11px;
    color: black;
}

.text:hover {
    animation: shake 0.3s;
}

#shadow-memoria {
    position: relative;
    left: 672px;
    top: 71px;
}

#memoria {
    position: relative;
    left: 404px;
    top: 44px;
}

@keyframes transalation {
    from { left: 850px }
    to { left: 703px }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) }
    30% { transform: translate(3px, 2px) }
    50% { transform: translate(-1px, -1px) }
    70% { transform: translate(3px, 2px) }
    100% { transform: translate(1px, 1px) }
}